*.docx
*.epub
*.html
*.pdf
*.mobi
*.odt
test-pdf-docx/
tex2pdf*/
.DS_Store
.~lock*
*.ps1~
.vscode/
texput.log
!files/Chapter-05/images/chapter-05-file-path-exercise.html
*.box
files/Chapter-13/packer-build-templates/build/*
variables.json
debug.log