*.docx
*.epub
*.html
*.pdf
*.mobi
*.odt
test-pdf-docx/
tex2pdf*/
.DS_Store
.~lock*
*.ps1~
.vscode/
texput.log
*.box
files/Chapter-13/packer-build-templates/build/*
variables.json
debug.log
packer_cache/
packer-cache/
*.iso
build/
*.vdi
!/files/Blackboard/*/*.txt
/output/txt/