# Create this file: /etc/systemd/system/mnt-databasedisk.mount
# Note that the .mount file name needs to be the same as the "Where" location
# Replace the / with -
# Make sure to enable the .mount at boot
# sudo systemctl enable mnt-databasedisk.mount
[Unit]
Description=Disk that was added to host the storage of our database

[Mount]
What=/dev/disk/by-uuid/003e6f67-9d31-4198-b3dd-4447f2337445
Where=/mnt/databasedisk
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
